.tablestyle {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    font-size: 16px;
    font-weight: 600;
    background-color: ivory;
    font-weight: bolder;
     color: ivory;}